a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_633d4dc3 a { text-decoration: none; }
#menu_633d4dc3_pane { background-color: #64B4FF; border: 1px solid #64B4FF; padding-top: 10px; padding-bottom: 10px; border-radius: 0px 0px 10px 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_633d4dc3_hr { background-color: #64B4FF; height: 1px; border: none; }
#menu_633d4dc3_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_633d4dc3_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_633d4dc3_entry:hover span { color:#FFFFFF !important; }
		.menu_633d4dc3_mainMenuEntry { text-align: center; }
		.menu_633d4dc3_mainMenuEntry:hover {	background-color:#64B4FF; }
		.menu_633d4dc3_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_633d4dc3 .mobileEntry { display: none; } 
		#menu_633d4dc3 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_633d4dc3 .mobileEntry { display: block; } 
			#menu_633d4dc3 .normalEntry { display: none; } 
		}
#table_6e2ba9d9 th {  } 
#table_6e2ba9d9 td {  } 
#table_66e929c9 th { border: 0px solid #000000;  } 
#table_66e929c9 td { border: 0px solid #000000;  } 
#button_58949585 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_58949585:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_58949585:hover span { color:#FFFFFF; }
#table_19edd504 th {  } 
#table_19edd504 td {  } 
#table_78bff89b th { border: 0px solid #8C8C8C;  } 
#table_78bff89b td { border: 0px solid #8C8C8C;  } 
#button_54323429 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_54323429:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_54323429:hover span { color:#FFFFFF; }
body { background-color:#C8C8C8; background: linear-gradient(to bottom, #2D2D2D, #C8C8C8); background-repeat: no-repeat; border: 0px dotted #404040; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_633d4dc3 { box-sizing: border-box; vertical-align: bottom; border-radius: 0px 0px 10px 10px; position:relative; display: inline-block; width:100%; height:50px; text-align:left; background-color:#64B4FF; border: 0px solid #64B4FF; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:70px; height:50px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:76px; height:50px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:89px; height:50px; left:86px;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle4 { position:absolute; width:80px; height:50px; left:175px;  }
.menustyle5 { position:absolute; width:99px; height:50px; left:255px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#table_6e2ba9d9 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#cell_74f6e22b {  }
.textstyle6 { text-align:center; }
.textstyle7 { font-size:36pt; font-family:Arial, Helvetica, sans-serif; color:#64B4FF; font-weight:bold;  }
#table_66e929c9 { box-sizing: border-box; vertical-align: top; border-radius: 10px; position:relative; display: inline-table; width:50%; height:230px; background-color:#FFFFFF; border: 0px solid #000000; table-layout: fixed;  }
#cell_6d47fbf1 {  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#cell_6d47fbf1 {  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_8b63d45 { vertical-align: bottom; position:relative; display: inline-block; width:20%; background:none; height:auto;  }
#cell_6d47fbf1 {  }
#img_50693a0d { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#table_19edd504 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:50px; background:none; table-layout: fixed;  }
#table_78bff89b { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-table; width:50%; height:230px; background-color:#FFFFFF; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_12fa7717 {  }
#cell_2c509ff5 {  }
#img_6983ed74 { vertical-align: bottom; position:relative; display: inline-block; width:20%; background:none; height:auto;  }
#cell_12fa7717 {  }
#img_80e4e6e { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
