a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_555429bd a { text-decoration: none; }
#menu_555429bd_pane { background-color: #C8C8C8; border: 1px solid #C8C8C8; padding-top: 10px; padding-bottom: 10px; border-radius: 0px 0px 10px 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_555429bd_hr { background-color: #C8C8C8; height: 1px; border: none; }
#menu_555429bd_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_555429bd_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_555429bd_entry:hover span { color:#FFFFFF !important; }
		.menu_555429bd_mainMenuEntry { text-align: center; }
		.menu_555429bd_mainMenuEntry:hover {	background-color:#C8C8C8; }
		.menu_555429bd_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_555429bd .mobileEntry { display: none; } 
		#menu_555429bd .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_555429bd .mobileEntry { display: block; } 
			#menu_555429bd .normalEntry { display: none; } 
		}
#table_28787caa th {  } 
#table_28787caa td {  } 
#table_7ae82997 th {  } 
#table_7ae82997 td {  } 
#button_c798b63 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:270px; height:270px; background-color:#64B4FF; border: 2px solid #646464;  }
#button_c798b63:hover { background-color:#96C8FF; border-color:#000000;  }
#button_c798b63:hover span { color:#FFFFFF; }
#table_4cdd36f7 th {  } 
#table_4cdd36f7 td {  } 
#button_70a6854 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:270px; height:270px; background-color:#64FFB4; border: 2px solid #646464;  }
#button_70a6854:hover { background-color:#96FFC8; border-color:#000000;  }
#button_70a6854:hover span { color:#FFFFFF; }
#button_358eafcd { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:270px; height:270px; background-color:#FF7D7D; border: 2px solid #646464;  }
#button_358eafcd:hover { background-color:#FF9696; border-color:#000000;  }
#button_358eafcd:hover span { color:#FFFFFF; }
body { background-color:#C8C8C8; background: linear-gradient(to bottom, #2D2D2D, #C8C8C8); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_555429bd { box-sizing: border-box; vertical-align: bottom; border-radius: 0px 0px 10px 10px; position:relative; display: inline-block; width:100%; height:50px; text-align:left; background-color:#C8C8C8; border: 0px solid #64B4FF; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:70px; height:50px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:76px; height:50px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle3 { position:absolute; width:89px; height:50px; left:86px;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle4 { position:absolute; width:80px; height:50px; left:175px;  }
.menustyle5 { position:absolute; width:99px; height:50px; left:255px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#table_28787caa { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#cell_2bc926a0 {  }
.textstyle6 { text-align:center; }
.textstyle7 { font-size:36pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#table_7ae82997 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:280px; background:none; table-layout: fixed;  }
#cell_6f87498c {  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#table_4cdd36f7 { vertical-align: bottom; position:relative; display: inline-table; width:39%; height:30px; background:none; table-layout: fixed;  }
#cell_4b21ac47 {  }
#cell_64c6c498 {  }
