a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_1bb6b284 a { text-decoration: none; }
#menu_1bb6b284_pane { background-color: #FF7D7D; border: 1px solid #FF7D7D; padding-top: 10px; padding-bottom: 10px; border-radius: 0px 0px 10px 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1bb6b284_hr { background-color: #FF7D7D; height: 1px; border: none; }
#menu_1bb6b284_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1bb6b284_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1bb6b284_entry:hover span { color:#FFFFFF !important; }
		.menu_1bb6b284_mainMenuEntry { text-align: center; }
		.menu_1bb6b284_mainMenuEntry:hover {	background-color:#FF7D7D; }
		.menu_1bb6b284_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_1bb6b284 .mobileEntry { display: none; } 
		#menu_1bb6b284 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_1bb6b284 .mobileEntry { display: block; } 
			#menu_1bb6b284 .normalEntry { display: none; } 
		}
#table_36e1e858 th {  } 
#table_36e1e858 td {  } 
#table_7f894697 th {  } 
#table_7f894697 td {  } 
#gallery_2f04d44a div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_2f04d44a div.galleryimgcontainer img {  width: 100%;  height: auto; border-radius: 10px;  } 
@media only screen and (max-width:520px) { #gallery_2f04d44a div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_2f04d44a div.galleryimgcontainer { width: 100%; } } 
#table_4bd8ccd3 th {  } 
#table_4bd8ccd3 td {  } 
#button_431e0d1c { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_431e0d1c:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_431e0d1c:hover span { color:#FFFFFF; }
#table_569c0aec th {  } 
#table_569c0aec td {  } 
#table_50443472 th {  } 
#table_50443472 td {  } 
#gallery_650abe15 div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_650abe15 div.galleryimgcontainer img {  width: 100%;  height: auto; border-radius: 10px;  } 
@media only screen and (max-width:520px) { #gallery_650abe15 div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_650abe15 div.galleryimgcontainer { width: 100%; } } 
#table_4c63728e th {  } 
#table_4c63728e td {  } 
#button_c31bbfd { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_c31bbfd:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_c31bbfd:hover span { color:#FFFFFF; }
#table_52d50cb9 th {  } 
#table_52d50cb9 td {  } 
#button_50c906c2 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_50c906c2:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_50c906c2:hover span { color:#FFFFFF; }
#table_1854cff9 th {  } 
#table_1854cff9 td {  } 
#button_4d3010c9 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_4d3010c9:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_4d3010c9:hover span { color:#FFFFFF; }
#table_4c7cc58a th {  } 
#table_4c7cc58a td {  } 
#button_3bd38d17 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_3bd38d17:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_3bd38d17:hover span { color:#FFFFFF; }
#table_7e041a8c th {  } 
#table_7e041a8c td {  } 
#table_7107b4be th {  } 
#table_7107b4be td {  } 
#gallery_3bf7972b div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_3bf7972b div.galleryimgcontainer img {  width: 100%;  height: auto; border-radius: 10px;  } 
@media only screen and (max-width:520px) { #gallery_3bf7972b div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_3bf7972b div.galleryimgcontainer { width: 100%; } } 
#table_3d66e75c th {  } 
#table_3d66e75c td {  } 
#button_53fe67b0 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:225px; height:85px; background-color:#009600; background: linear-gradient(to right, #00FF00, #009600); border: 2px solid #646464;  }
#button_53fe67b0:hover { background-color:#96FF96; background: linear-gradient(to right, #96FF96, #96FF96); border-color:#000000;  }
#button_53fe67b0:hover span { color:#FFFFFF; }
#table_71fbe97c th {  } 
#table_71fbe97c td {  } 
body { background-color:#C8C8C8; background: linear-gradient(to bottom, #2D2D2D, #C8C8C8); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_1bb6b284 { box-sizing: border-box; vertical-align: bottom; border-radius: 0px 0px 10px 10px; position:relative; display: inline-block; width:100%; height:50px; text-align:left; background-color:#FF7D7D; border: 0px solid #FF7D7D; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:70px; height:50px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:76px; height:50px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:89px; height:50px; left:86px;  }
.menustyle4 { position:absolute; width:80px; height:50px; left:175px;  }
.menustyle5 { position:absolute; width:99px; height:50px; left:255px;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#table_36e1e858 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#cell_73249144 {  }
.textstyle6 { text-align:center; }
.textstyle7 { font-size:36pt; font-family:Arial, Helvetica, sans-serif; color:#FF7D7D; font-weight:bold;  }
#table_7f894697 { vertical-align: bottom; border-radius: 10px; position:relative; display: inline-table; width:100%; height:30px; background-color:#FF7D7D; table-layout: fixed;  }
#cell_4902854c {  }
.textstyle8 { font-size:22pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#FFFFFF; font-weight:bold;  }
#gallery_2f04d44a { overflow:hidden; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:100%;  }
#table_4bd8ccd3 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:110px; background:none; table-layout: fixed;  }
#cell_19690fcc {  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#table_569c0aec { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#table_50443472 { vertical-align: bottom; border-radius: 10px; position:relative; display: inline-table; width:100%; height:30px; background-color:#FF7D7D; table-layout: fixed;  }
#cell_5367cd03 {  }
#gallery_650abe15 { overflow:hidden; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:100%; min-height:76px;  }
#table_4c63728e { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:110px; background:none; table-layout: fixed;  }
#cell_2fd91754 {  }
#table_52d50cb9 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#cell_714e5a50 {  }
#table_1854cff9 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#cell_94f4ad3 {  }
#table_4c7cc58a { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#cell_6933d5ab {  }
#table_7e041a8c { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
#table_7107b4be { vertical-align: bottom; border-radius: 10px; position:relative; display: inline-table; width:100%; height:30px; background-color:#FF7D7D; table-layout: fixed;  }
#cell_7d6e0e94 {  }
#gallery_3bf7972b { overflow:hidden; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:100%;  }
#table_3d66e75c { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:110px; background:none; table-layout: fixed;  }
#cell_92975f0 {  }
#table_71fbe97c { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100px; background:none; table-layout: fixed;  }
